extends layout

block content

    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
        
        .row
            .col-md-6.col-sm-12
            p
            | Locator was created to help people find places to sit down and get a bit of work done.
            | <br /><br />
            | This is the first SAP that i'll be creating. So, cheers to that!
            | Lorem ipsum dolor sit amet, ne elit wisi sed, tation diceret voluptaria cu mel. Pertinax iracundia vis ad, exerci putent facete vix ad. Graece quaerendum ad sit. Duo in posse conceptam ullamcorper, usu ex tale soluta urbanitas, ne facer fuisset fabellas eum. Ei ius utinam corpora, an labitur accusata iudicabit has, eu duo noster deterruisset. 
            | Ne latine mandamus assentior eos. Mea choro lobortis cu. Et amet qualisque intellegam vel, eum an assum iudico aeterno, mea alia disputationi ei. No qui ipsum iusto labores, cum cu quaeque urbanitas, et vim cibo prima nostrum. Te mel saepe repudiandae, eu amet audire quaeque duo. 
            | Cu periculis gloriatur liberavisse usu, an eam libris animal facilisi. Eu malis scaevola sed, est ne atqui diceret scriptorem. Quo no conceptam moderatius neglegentur, ad postea graeci quaeque ius. Detracto gubergren vim eu. Aeterno comprehensam mel cu. 
            | Possim insolens consulatu cum in, ad sed deserunt sententiae. Id aeque nonumy nec. Eos utinam delicata no, ut vel expetendis dissentias interesset. Qui ex solum illud iudicabit. Graeco perfecto vel ea. Pri ei vero persius facilisi, qui erant animal consetetur et. 
            | Offendit omittantur in usu, at illud vivendum deseruisse vis. Cum in viris nihil suavitate, quo ei summo temporibus. Odio duis summo cu est. Facilis propriae gubergren et duo, at enim euismod nam, ea dicit similique vim. No mei meliore adolescens efficiantur, erant delectus per te. Eam et deleniti insolens, pri ut fabellas perfecto invenire.
            | <br /><br />
            | This is the first SAP that i'll be creating. So, cheers to that!
            | Lorem ipsum dolor sit amet, ne elit wisi sed, tation diceret voluptaria cu mel. Pertinax iracundia vis ad, exerci putent facete vix ad. Graece quaerendum ad sit. Duo in posse conceptam ullamcorper, usu ex tale soluta urbanitas, ne facer fuisset fabellas eum. Ei ius utinam corpora, an labitur accusata iudicabit has, eu duo noster deterruisset. 
            | Ne latine mandamus assentior eos. Mea choro lobortis cu. Et amet qualisque intellegam vel, eum an assum iudico aeterno, mea alia disputationi ei. No qui ipsum iusto labores, cum cu quaeque urbanitas, et vim cibo prima nostrum. Te mel saepe repudiandae, eu amet audire quaeque duo. 
            | Cu periculis gloriatur liberavisse usu, an eam libris animal facilisi. Eu malis scaevola sed, est ne atqui diceret scriptorem. Quo no conceptam moderatius neglegentur, ad postea graeci quaeque ius. Detracto gubergren vim eu. Aeterno comprehensam mel cu. 
            | Possim insolens consulatu cum in, ad sed deserunt sententiae. Id aeque nonumy nec. Eos utinam delicata no, ut vel expetendis dissentias interesset. Qui ex solum illud iudicabit. Graeco perfecto vel ea. Pri ei vero persius facilisi, qui erant animal consetetur et. 
            | Offendit omittantur in usu, at illud vivendum deseruisse vis. Cum in viris nihil suavitate, quo ei summo temporibus. Odio duis summo cu est. Facilis propriae gubergren et duo, at enim euismod nam, ea dicit similique vim. No mei meliore adolescens efficiantur, erant delectus per te. Eam et deleniti insolens, pri ut fabellas perfecto invenire.